:root {
  /* -- color -- */
  --app-bg: #ffffff;
  --top-ctrl-bg: #ebebeb;
  --mask-bg: rgba(0, 0, 0, 0.5);
  /* -- font -- */
  --font-size: 12px;
  --font-size-sm: 11px;
  --font-size-md: 14px;
  --font-size-lg: 28px;
  --font-size-xl: 32px;
  --font-size-xxl: 42px;


}
